asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==3.2
django-cache-url==3.2.3
django-debug-toolbar==3.2.1
django-phonenumber-field==5.2.0
djangorestframework==3.12.4
environs==9.3.2
flake8==4.0.1
geographiclib==1.52
geopy==2.2.0
idna==3.3
marshmallow==3.13.0
mccabe==0.6.1
phonenumbers==8.12.33
Pillow==8.2.0
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.19.2
pytz==2021.1
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
