{% extends 'base_restaurateur_page.html' %}
{% load admin_urls %}

{% block title %}Unprocessed orders | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Unprocessed orders</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Order ID</th>
      <th>Status</th>
      <th>Payment method</th>
      <th>Order price</th>
      <th>Customer</th>
      <th>Telephone</th>
      <th>Delivery address</th>
      <th>Restaurants</th>
      <th>Link to admin panel</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td>{{order.0.id}}</td>
        <td>{{order.0.get_status_display}}</td>
        <td>{{order.0.get_payment_method_display}}</td>
        <td>{{order.0.total_amount}}</td>
        <td>{{order.0.firstname}} {{order.0.lastname}}</td>
        <td>{{order.0.phonenumber}}</td>
        <td>{{order.0.address}}</td>
        <td><details>
          <summary>Expand</summary>
          <ul>
          {% for restaurant, distance in order.1 %}
            <li>{{restaurant}} - {{distance}} km</li>
          {% endfor %}
          </ul>
        </details></td>
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=order.0.id %}?next={{next}}">Edit</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
