{% extends 'base_restaurateur_page.html' %}
{% load admin_urls %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td>{{order.0.id}}</td>
        <td>{{order.0.get_status_display}}</td>
        <td>{{order.0.get_payment_method_display}}</td>
        <td>{{order.0.total_amount}}</td>
        <td>{{order.0.firstname}} {{order.0.lastname}}</td>
        <td>{{order.0.phonenumber}}</td>
        <td>{{order.0.address}}</td>
        <td><details>
          <summary>Развернуть</summary>
          <ul>
          {% for restaurant, distance in order.1 %}
            <li>{{restaurant}} - {{distance}} km</li>
          {% endfor %}
          </ul>
        </details></td>
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=order.0.id %}?next={{next}}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
