{% extends 'base_restaurateur_page.html' %}

{% block title %}Restaurants | Star Burger{% endblock %}

{% block content %}

  <div class="container">
    <center>
      <h2>Your restaurants</h2>
    </center>

    <hr/>

    <table class="table table-responsive">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone</th>
        <th>Actions</th>
      </tr>

      {% for restaurant in restaurants %}
        <tr>
          <td>{{ restaurant.name }}</td>
          <td>
            {{ restaurant.address|default:'empty' }}</td>
          <td>
            {% if restaurant.contact_phone %}
              <a href="phone:{{ restaurant.contact_phone }}">{{ restaurant.contact_phone }}</a>
            {% else %}
              empty
            {% endif %}
          </td>
          <td>
            <a href="{% url 'admin:foodcartapp_restaurant_change' restaurant.id %}">edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>

    <a href="{% url 'admin:foodcartapp_restaurant_add' %}" class="btn btn-default">add</a>

  </div>
{% endblock %}
