body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

.navbar {
  position: sticky;
  margin-bottom: 0;
}

.carousel-indicators li,
.carousel-indicators .active {
  margin: 5px;
  width: 20px;
  height: 20px;
}


.carousel-indicators {
  bottom: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.empty-cart {
  height: 356px;
  width: 246px;
  background-image: url("empty-cart.2a9b359a.png");
  background-repeat: no-repeat;
  background-position: center;
}

.products-wrapper {
    animation: slideUp 300ms linear;
    animation-delay: 150ms;
  }
  @media (max-width: 991px) {
    .products-wrapper {
      padding-top: 68px;
    }
  }
  @media (max-width: 480px) {
    .products-wrapper {
      padding-top: 52px;
    }
  }
  .products {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: flex-end;
    padding: 16px;
    max-width: 960px;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .products {
      padding: 8px;
    }
  }
  .products .product {
    flex-basis: calc(33% - 32px);
    -webkit-flex-basis: calc(33% - 32px);
  }
  @media (max-width: 480px) {
    .products .product {
      flex-basis: calc(50% - 16px);
      -webkit-flex-basis: calc(50% - 16px);
      min-height: 313px;
    }
    .products .product .product-name {
      height: 20px;
      overflow: hidden;
    }
    .products .product .product-action {
      padding: 16px 8px;
    }
  }
  @media (max-width: 320px) {
    .products .product {
      flex-basis: 100%;
      -webkit-flex-basis: 100%;
    }
  }
  .fadeIn-enter {
    opacity: 0.01;
  }
  .fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fadeIn-exit {
    opacity: 1;
  }
  .fadeIn-exit.fadeIn-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  .product:nth-child(1) {
    transition-delay: 200ms;
  }
  .product:nth-child(2) {
    transition-delay: 200ms;
  }
  .product:nth-child(3) {
    transition-delay: 400ms;
  }
  .product:nth-child(4) {
    transition-delay: 600ms;
  }
  .product:nth-child(5) {
    transition-delay: 800ms;
  }
  .product:nth-child(6) {
    transition-delay: 1000ms;
  }
  .product:nth-child(7) {
    transition-delay: 1200ms;
  }
  .product:nth-child(8) {
    transition-delay: 1400ms;
  }
  .product:nth-child(9) {
    transition-delay: 1600ms;
  }
  .product:nth-child(10) {
    transition-delay: 1800ms;
  }
  .product:nth-child(11) {
    transition-delay: 2000ms;
  }
  .product:nth-child(12) {
    transition-delay: 2200ms;
  }
  .product.loading {
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: contentLoader;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 1000px 104px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  .product.loading .product-image {
    height: 168px;
    width: 168px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.25);
  }
  @media (max-width: 768px) {
    .product.loading .product-image {
      width: auto;
    }
  }
  .product.loading .product-text, .product.loading .product-button {
    margin: 12px 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.25);
  }
  .product.loading .product-button {
    position: absolute;
    bottom: 8px;
    width: 168px;
    height: 36px;
  }
  @media (max-width: 768px) {
    .product.loading .product-button {
      width: auto;
    }
  }
  @keyframes contentLoader {
    0% {
      background-position: -420px 0;
    }
    100% {
      background-position: 420px 0;
    }
  }
  .no-results {
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
  }
  .no-results img {
    width: 320px;
    margin: 16px 0 32px 0;
    opacity: 0.33;
  }
  .no-results h2 {
    margin-bottom: 16px;
    color: #666;
  }
  .no-results p {
    color: #999;
  }

.product {
    background: #fff;
    margin: 32px 16px 32px 16px;
    padding: 15px;
    border-radius: 2px;
    border: 2px black;
  }
  .product .product-image {
    border-radius: 2px 2px 0 0;
    margin-bottom: 20px;
  }
  .product .product-image img {
    cursor: zoom-in;
    max-width: 100%;
    max-height: 250px;
    transition: transform 300ms ease-in;
    transform: scale(1);
  }
  .product .product-image img:hover {
    transform: scale(1.1);
  }
  .product .product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .product .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .currency:after {
    content: " € ";
  }
  .product .product-name, .product .product-price {
    color: #666;
    padding: 0 16px;
    text-align: center;
  }
  .product .product-action {
    padding: 16px;
  }
  .product .product-action button {
    width: 100%;
    transition: all 300ms ease-in;
  }
  .product .product-action button.added {
    background: #fc7710;
  }
  .product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .stepper-input {
    display: flex;
    display: -webkit-flex;
    color: #666;
    max-width: 120px;
    margin: 0 auto;
  }
  .stepper-input .increment, .stepper-input .decrement {
    height: 24px;
    width: 24px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .stepper-input .increment:hover, .stepper-input .decrement:hover {
    color: #077915;
    border-color: #077915;
  }
  .stepper-input .increment:active, .stepper-input .decrement:active {
    color: #fff;
    border-color: #077915;
    background: #0bc122;
  }
  .stepper-input .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  .stepper-input .quantity:focus {
    outline: none;
    border-color: #077915;
  }

/*# sourceMappingURL=index.css.map */
